.restaurant-card {
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: .5rem;
}

.restaurant-card:hover {
    background-color: var(--color-gray-extra-light);
}

.rc-body {
    padding: .6rem;
}

.rc-restaurant-name {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 700;
}

.rc-restaurant-img-c {
    height: 10rem;
    width: 100%;
}

.rc-restaurant-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: .5rem;
}

.rc-restaurant-category {
    font-size: 0.8rem;
    margin-top: .4rem;
    color: var(--color-gray);
}