:root {
  --color-primary: #151D20;
  --color-secorndary: #6E8396;
  --color-gray: #707070;
  --color-gray-light: #E2E5EA;
  --color-white: #FFFFFF;

  
  --default-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
