.nav-bar {
    height: 4rem;
    color: var(--color-white);
    box-shadow: var(--default-shadow);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo-container {
    height: 100%;
    display: inline-block;
}

.nav-logo {
    height: 100%;
}

.nav-logo-txt {
    display: inline-block;
}