.nav-bar {
    height: 4rem;
    color: white;
    box-shadow: var(--default-shadow);
}

.nav-logo-container {
    height: 100%;
    display: inline-block;
}

.nav-logo {
    height: 100%;
}

.nav-logo-txt {
    display: inline-block;
}